Language: Java
BasedOnStyle: Google

UseTab: Never
IndentWidth: 2
TabWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 88

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
